body{    
    font-family:'Tiny5', sans-serif ;
    background-image: url("https://i.pinimg.com/originals/7d/b2/4b/7db24b01a8ba90ab48a448d01f32aa60.gif");
    background-size: cover;
}
.logo
{
    font-size: 30px;
    position: absolute;
    left: 1300px;
    color: rgb(255, 221, 2);
    
}
.fixed-header {
    position: fixed;
    border-radius: 5%;
    top: 0;
    left: 0;
    height: 30px;
    background-color: rgba(12, 33, 2, 0);
    color: rgb(255, 221, 1);
    padding: 5px;
    font-size: 15px;
    cursor: crosshair;
  }
  
  nav ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
    cursor: crosshair;
  }
  nav li {
    margin: 0 50px;
    cursor: crosshair;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(255, 221, 1);
  }
  


h1{
    font-size: 70px;
}
.container
{
    font-size: 20px;
    position: absolute;
    left: 450px;
    top: 210px;
    color: rgb(255, 221, 2);
   
}
input
{
    position: absolute;
    left: 300px;
    top: 400px;
}